.Board {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    background-color: yellowgreen;
    width: 20rem;
    height: 20rem;
    align-self: center;
    border: solid;
    border-color: yellowgreen;
}