.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: blue
}

.ScoreContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%
}

.ActivePlayer {

}

.ButtonsContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
}